doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#474544')
    meta(name='Description', content=description)
    meta(name='Keywords', content='video game, utilities, games, tools, tool, utility, Pokemon, ' + pokemon.map(function(e,i){return e.nameUpper;}).join(', '))
    link(rel='icon' href='/images/android/android-launchericon-96-96.png')
    link(rel='manifest', href='/manifest.json')
    title= title + ' - Utilities.Games'
    style(type='text/css')
      include ../../public/bootstrap/dist/css/bootstrap.min.css
      include ../../public/stylesheets/site.min.css
    //link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css?v=4.1.3')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    //link(rel='stylesheet', href='/stylesheets/site.min.css')
    title Compare Pok&#0232;mon Stats (Lite) - Utilities.Games
    style(type='text/css')
      include ../../public/Pokemon/css/Pokemon.min.css
    //link(rel='stylesheet', href='/Pokemon/css/Pokemon.min.css?v=1.8.9')
    style(type='text/css').
      body{
        background: none;
      }
      .row{
        margin: 0px !important;
      }
      section{
        position: relative;
        display: block;
        width: 100vw;
        height: 100vh;
      }
      #pokeComparison{
        position: relative;
        display: block;
        width: 100%;
        height: 60vmin;
        margin-left: auto;
        margin-right: auto;
        border: 3px outset slategrey;
        border-radius: 5px;
      }
      #workSpace{
        background: linear-gradient(rgba(255,255,255, 0.6), transparent);
      }
      [class*='icon-sprite-']{
        position: relative;
        display: inline-block;
        width: 40px;
        height: 30px;
      }
      #tblResults tbody tr td{
        text-align: center;
      }
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src="https://www.googletagmanager.com/gtag/js?id=UA-126967798-1")

    script(type='text/javascript', language='javascript').
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-126967798-1');

  body
    section
      .row(style='margin: 0px;')#workSpace
        .col-lg-6.col-md-6.col-sm-12.col-sm-12
          canvas#pokeComparison This Browser does not support HTML5 Canvas!
          p#compareMessage
        .col-lg-6.col-md-6.col-sm-12.col-sm-12
          table#tblResults.table.table-striped
            thead
              tr
                th Pokemon
                th HP
                th Attack
                th Defense
                th Special Attack
                th Special Defense
                th Speed
                th Remove
            tbody
              - for(var len = pokemon.length,n=0;n<len;n++)
                -var stats = pokemon[n].normalizedStats;
                tr
                  td
                    i(class='icon-sprite-' + pokemon[n].id)
                    a(href='/pokemon/' + pokemon[n].id)= pokemon[n].nameUpper
                  -for(var s in stats)
                    td(class='table-' + (stats[s].effort > 0 ? 'success' : 'default'), data-ev=stats[s].effort)= stats[s].base_stat
                  td
                    button.btn.btn-xs(onclick='removePokemon(this);',data-id=pokemon[n].id)
                      i.fa.fa-remove
          p.alert.alert-warning#msgAlert
      .row
        a.pull-right.text-muted(href='/pokemon/compare/stats',target='parent') Powered by Utilities.Games

    script(type='text/javascript')
      include ../../public/jquery/dist/jquery.min.js
      include ../../public/bootstrap/dist/js/bootstrap.min.js
      include ../../public/idb/dist/js/idb.js
      include ../../public/Pokemon/js/Pokemon.es5.min.js
      include ../../public/Pokemon/js/Comparison.es5.min.js
    //script(language='javascript', type='text/javascript', src='/jquery/dist/jquery.min.js?v=3.3.1')
    //script(language='javascript', type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js?v=4.1.3')
    //script(language='javascript', type='text/javascript', src='/idb/dist/js/idb.js?v=2.1.3')
    //script(language='javascript', type='text/javascript', src='/Pokemon/js/Pokemon.es5.min.js?v=1.2')
    //script(language='javascript', type='text/javascript', src='/Pokemon/js/Comparison.es5.min.js?v=1.9')
    script(type='text/javascript').
      ComparePokemon = !{JSON.stringify(pokemon)};
      function removePokemon(ev){
        $("#msgAlert").hide();
        var id = $(ev).attr("data-id");
        var ol = ComparePokemon.length;
        if (ol > 1){
          ComparePokemon = ComparePokemon.filter(function (e, i) {
            return e.id.toString() !== id.toString();
          });
          if (ol !== ComparePokemon.length){
            var loc = window.location.toString();
            var strB = btoa(JSON.stringify(ComparePokemon.map(function(e){return e.id;})));
            window.location = loc.substr(0,loc.lastIndexOf("/") + 1) + strB;
            //BuildComparison();
          }else{
            $("#msgAlert").text("It's not your fault, the developer forgot to properly identify this Pokemon!");
            $("#msgAlert").show();
          }
        }else{
          $("#msgAlert").text("Cannot remove last Pokemon from the list!");
          $("#msgAlert").show();
        }
      }
      $(document).ready(function(){
        var pids = null;//JSON.parse(atob("!{data}"));
        if (pids.length > 0){
          for(var len = pids.length,n=0;n<len;n++){
            ComparePokemon.push(new Pokemon(pids[n],{
                includes: {
                  species: {
                    includes: {
                      evolution_chain: {}
                    }
                  }
                },
                callback: function () {
                  BuildComparison();
                }
              }));
          }
        }
      });