extends ../_sitelayout

block append styles
    link(rel='stylesheet', href='/Pokemon/css/Pokemon.min.css?v=1.6')

block append content
    .poke-card(data-species-color=pokemon.species.color.name, data-poke-id=pokemon.id)
        .chain
            - var prevEvos = pokemon.getPreviousEvolutions()
            if (prevEvos !== null)
                .chain-from
                    .chain-item
                        a.chain-target(href='/pokemon/' + prevEvos.species.name, data-poke-name=prevEvos.species.name, aria-label='Go to ' + prevEvos.species.name)
                            div(class='icon-sprite-' + nationalDex.findByName(prevEvos.species.name).id)
                        .chain-reason= pokemon.buildEvolutionTerm(pokemon.getCurrentEvolutionChain())
            .details.biota.zoology(lang='en')
                span.sprite
                    img(src='/PokeApi' + pokemon.sprites.front_default, alt=pokemon.nameUpper)
                button.poke-favorite(aria-label='Favorite this Pokemon', type='button')
                span.family(lang='en') Pok&#0232;mon
                span(title='National \'Dex #', aria-label='National \'Dex Number', name='id')= pokemon.id
                .binomial
                    p.common-name.species(title='Pok&#0232;mon Name', aria-label='Name', name='name')= pokemon.nameUpper
                    p.genus(title='Genus Name', aria-label='Genus Name', )= pokemon.species.genera[2].genus
            - var nextEvos = pokemon.getNextEvolutions()
            if (nextEvos !== null && nextEvos.length > 0)
                div.chain-to(data-count=nextEvos.length)
                    -for (var x = 0;x < nextEvos.length; x++)
                        .chain-item
                            a.chain-target(href='/pokemon/' + nextEvos[x].species.name, data-poke-name=nextEvos[x].species.name, aria-label='Go to ' + nextEvos[x].species.name)
                                div(class='icon-sprite-' + nationalDex.findByName(nextEvos[x].species.name).id)
                            .chain-reason= pokemon.buildEvolutionTerm(nextEvos[x])
    h3 Moves